.DS_Store
.idea
nbproject
logs
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
*~
log/
tmp/
web/.htaccess
web/stats/
.project
/uploads/archive/

