.login #content{
    background: #f9f9f9;
}
.clear{
    clear: both;
}
.form-group .radio.inline{
    display: inline-block;
    margin-left:20px;
    margin-top:10px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.padd-15{
    padding: 15px;
}
.fb-wrapper{
    text-align: center;
}