.login #content{
    background: #f9f9f9;
}
.clear{
    clear: both;
}
.form-group .radio.inline{
    display: inline-block;
    margin-left:20px;
    margin-top:10px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.padd-15{
    padding: 15px;
}
.fb-wrapper{
    text-align: center;
}
.flot-x{
    text-align: right;
    color: #fff;
    padding: 10px;
    float: right;
}
.flot-y{
    text-align: right;
    padding: 10px;
    float: left;
    width: 2%;
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.flot-y .flot-tick-label{
    margin-left: -20px;
    margin-top: 15px;
}
.blue-box{
    background-color: #658db3;
    float:left;
    width: 100%;
}
.widget .widget-chart{
    border: none;
    float: left;
    width: 97%;
}
.profile-photo{
    width: 200px;
}
.profile-photo .list-group-item{
    border: none;
}
.profile-photo img{
    border: 1px solid #ddd;
}
.page-title{
    width: 100%;
}
.widget .chart.chart-medium{
    height: 300px;
}
.widget .chart{
    overflow: visible;
}
.widget .chart .legend > table{
    bottom: -40px !important;
}
.legend > table .legendColorBox{
    padding-left: 5px;
}
.signal-info .col-md-8{
    padding: 7px 7px 2px 20px;
}
.signal-info.row-border .form-group{
    padding: 7px 7px 7px 20px;
    margin: 0;
}